.git
git-hooks
node_modules
vendor
.DS_Store
**/__snapshots__
**/*.sh
**/*.env
**/*.circle
**/*.sample
**/*.gitignore
**/*.prettierignore
**/*.lock
**/*.log
**/*.gitkeep
**/*.sql
**/*.png
**/*.md
**/*.xml*
coverage